@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--background);
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.text-title {
  @apply text-white tracking-tighter text-5xl md:text-9xl;
}

.text-subtitle {
  @apply text-white tracking-tighter text-2xl md:text-5xl;
}

.subtitle {
  @apply text-white tracking-tighter text-4xl md:text-7xl;
}

.text-playfair {
  font-family: "Playfair Display", serif;
  font-style: italic;
}

.menu-items-hover {
  @apply text-white transition-all duration-300 ease-in-out transform hover:scale-105 hover:text-pink-500;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}

.hover-shake:hover {
  animation: shake 0.2s ease-in-out infinite;
}

/* html {
  scroll-snap-type: y mandatory;
} */

/* Ya no lo pongas en html */
.img-gallery-wrapper {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}

.img-container {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.img-container > div {
  width: 300px;
  height: 400px;
  margin: 20px;
  background: #f5f5f5;
  overflow: hidden;
  position: relative;
}

.img-container h2 {
  color: #ff66c4;
  font-family: "Azeret Mono", monospace;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -3px;
  position: absolute;
  top: 50%;
  left: calc(50% + 120px);
  transform: translate(-50%, -50%);
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 7px;
  background: #ff66c4;
  bottom: 0px; /* Distancia desde el fondo de la pantalla */
  transform: scaleX(0); /* Inicialmente el progreso está en 0 */
  transform-origin: left center; /* El progreso se "crece" desde la izquierda */
  transition: transform 0.25s ease-out; /* Suavizar la animación */
}


@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-slow {
  animation: spin-slow 10s linear infinite;
}

@keyframes slide-x {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide-x {
  animation: slide-x 20s linear infinite;
}

@keyframes rotate-square {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100px, 0);
  }
  50% {
    transform: translate(100px, 100px);
  }
  75% {
    transform: translate(0, 100px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.square-rotate {
  animation: rotate-square 4s steps(4) infinite;
  position: absolute;
}



@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 20s linear infinite;
}

/* Cards en los proyectos */
.flip-card {
  perspective: 1000px;
}

.flip-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* Gira solo si tiene la clase flip-enabled y hay hover */
.flip-enabled:hover .flip-inner {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.flip-back {
  transform: rotateY(180deg);
}


/* Escritura en los titulos */
.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid black;
  animation: typing 3s steps(30, end), blink 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent }
}